.create-contact-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  height: 10vh;
}

.contact-form {
  label {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0 1.5rem;
  }
}

.create-contact {
  background-color: #76ADBC;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
  height: 1.75rem;
  width: 10rem;

  &:hover {
    cursor: pointer;
  }
}