.table-contact-container {
  background-color: #555f6a;
  display: flex;
  height: 63vh;
  justify-content: space-evenly;
  width: 100%;
}

.table-data-container {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}