.table-contact-container {
  display: flex;
  flex-direction: column;
  // height: 5vh;
  justify-content: space-evenly;
  width: 100%;
}

.table-data-container {
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}